# see https://askubuntu.com/questions/919054/how-do-i-run-a-single-command-at-startup-using-systemd

[Unit]
Description=Electron application auto-launch on boot.

[Service]
# ExecStart=<path_to_launch_executable>
ExecStart=/opt/app/launch
Restart=on-failure
RestartSec=30

[Install]
# see https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target
WantedBy=multi-user.target

# Initial setup

# chmod u+x <path_to_launch_executable, e.g., /opt/app/launch>
# sudo systemctl enable auto-launch.service